## Import pandas for reading CSV files

In [2]:
import pandas as pd

encoding = 'iso-8859-1'    

bank = pd.read_csv('bank-data.csv', 
                   delimiter = ';',
                   encoging = encoding)

In [9]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1.0,-1.0,0,unknown,no
1,44.0,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1.0,-1.0,0,unknown,no
2,33.0,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1.0,-1.0,0,unknown,no
3,47.0,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1.0,-1.0,0,unknown,no
4,33.0,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1.0,-1.0,0,unknown,no

In [10]:
list(bank.keys())

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y']

In [5]:
bank.shape

(45211, 17)

In [51]:
size = len(bank)
keys = bank.keys()
for i in keys:
    nls = len(bank[bank['education'].isna() == True]['education'])
    
#len(bank[bank['education'].isna() == True]['education'])
#bank[bank['month'].isna() == True]['month']

5        NaN
6        NaN
13       NaN
22       NaN
27       NaN
73       NaN
99       NaN
218      NaN
25419    NaN
25432    NaN
30691    NaN
33165    NaN
33176    NaN
40743    NaN
45179    NaN
45180    NaN
Name: month, dtype: object

In [ ]:
import seaborn as sb

sb.pairplot(bank,
            palette = 'coolwarm'
            ) # Using categorical field